<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3d5cf3ba87.js" crossorigin="anonymous"></script>


</head>

<body >
  <app-header2></app-header2>

  
  <div class="contenedor">
    <img src="../../assets/images/fondoPuntarenas.jpg" style="width: 110%; height: 105%;  ">

    <div class="centrado">
      <h3 style="color: antiquewhite;">Actividades </h3>
      <table class="container" style="width: 500px;  border: solid 5px; border-style: ridge; background-color:rgba(115, 115, 115, 0.6); color: antiquewhite; text-align: center; ">

        <td style="width: 100px; padding: 20px;">Playas<i class="material-icons">beach_access</i></td>
        <td>Senderismo <img class="boton" src="../../assets/images/hiking.jpg" width="40px" style="filter: invert(); ">
        </td>
        <td>Rios <img class="boton" src="../../assets/images/rios.png" width="60px" style="filter: invert(); "></td>

      </table>
      <!-- <button class="boton"></button> -->
      <div style="float: left; ">
        <img [src]="myimage" style="width: 150%;" />


        <a  (click)="seleccionarDato1('6270c66d8b056a960d7cf4cd') " ><i style="top: 270px; left: 150px;" class="material-icons">beach_access</i></a>

        <a  (click)="seleccionarDato1('6270c6758b056a960d7cf4ce') "  ><i style="top: 370px; left: 350px;" class="material-icons">beach_access</i></a>


        <a (click)="seleccionarDato1('6270c6838b056a960d7cf4cf') "><img class="boton" src="../../assets/images/hiking.jpg" width="45px"
            style="filter: invert(); position: absolute; top: 120px; left: 100px; "></a>

        <a (click)="seleccionarDato1('626caac83f28320622b67e69') "><img class="boton" src="../../assets/images/rios.png" width="45px"
            style="filter: invert(); position: absolute; top: 260px; left: 40px; "></a>

      </div>



      <div style="float: right; margin-right: 110px; margin-top:100px; ">
        <div class="carta" style="width: 25rem;">
          <p id="cambiar" style="width: 100px;"> </p>
          <div class="card-body" style="color: aliceblue;">
            <label
              style="background-color: rgb(115, 115, 115); color: aliceblue; position: absolute; font-size: large; width: 330px; right: 135px;">Informacion
              del lugar :</label>
            <table style="height: 150px;">
              <th id="cuadro" style="padding-right:20px ;"> </th>
              <td id="resultado" style="text-align: left; "> </td>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>