<div class="fondo3">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgba(0, 0, 0, 0.5) ">
    <a class="navbar-brand" style="margin-left: 20px;" routerLink="/HomeLink"><img
        src="../../assets/images/logoTico.png" width="60px"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <i style="font-size: 40px; filter: invert();" class="large material-icons">person</i>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue; font-style: italic;">Username</a>
        </li>
      </ul>
    </div>
      <i style="font-size: 40px; filter: invert(); margin-right: 20px;" class="large material-icons"routerLink="/">exit_to_app</i>
  </nav>
</div>