.card{

    border: none;
    width: 500px;
    height: 550px;
    padding: 40px;
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translate(-50%, 50%);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 0.5) 0%, hsla(260, 29%, 36%, 0.5) 100%);
}

.card h1,
h6{
    color: #fff;
}

label{
    color: #fff;
}


.fondo{

    background-image: url(../../assets/Lugar1/arena.jpg);
    width: 100%;
    height: 130vh;
    background-size: cover;
    background-position: center;

    
}