<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Tico-Trip/src/app/home-page/home-page.component.css">
   
    <title> Tico-Trip </title>
</head>
<body>
<header class="main-header">

    <nav class="main-nav">

        <div class="logo">
            <span>   Costa Rica Pura Vida  </span>
        </div>
            <ul>
                 
                 <li> <a href="  ">Iniciar Sesion</a></li>
                  <li> <a href="  ">Registrarse</a></li>

            </ul>
    </nav>

    <div class="content-header">
        <H1 >TICO-TRIP!</H1>
        <p>Conozca Costa Rica y descubra sus paraísos naturales</p>
        <p></p>
    </div>



    <footer ></footer>

    </header>

</body>
</html>





