<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/3d5cf3ba87.js" crossorigin="anonymous"></script>


</head>

<body >
  <app-header2></app-header2>

  
  <div class="contenedor">
    <img src="../../assets/images/fondoSan.jpg" style="width: 100%;  ">

    <div class="centrado">
      <h3 style="color: antiquewhite;">Actividades </h3>
      <table class="container"
        style="width: 500px;  border: solid 5px; border-style: ridge; background-color:rgba(46, 151, 51, 0.616); color: antiquewhite; text-align: center; ">

        <td style="width: 100px; padding: 20px;">Playas<i class="material-icons">beach_access</i></td>
        <td>Canopy <img class="boton" src="../../assets/images/canopy.png" width="50px" style="filter: invert(); "></td>
        <td>Senderismo <img class="boton" src="../../assets/images/hiking.jpg" width="40px" style="filter: invert(); ">
        </td>
        <td>Rios <img class="boton" src="../../assets/images/rios.png" width="60px" style="filter: invert(); "></td>

      </table>
      <!-- <button class="boton"></button> -->
      <div style="float: left; ">
        <img [src]="myimage" style="width: 150%;" />


        <a href="#" ><i style="top: 240px; left: 80px;" class="material-icons">beach_access</i></a>

        <a href="#"><img class="posicion" src="../../assets/images/canopy.png" width="45px"
            style="filter: invert(); position: absolute; top: 300px; "></a>

      </div>






      <div style="float: right; margin-right: 110px; margin-top:40px; ">

        <div class="carta" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/images/guanacaste.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>

      </div>
    </div>

  </div>